.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 30px 0;
}

.confirmation h1 {
  color: var(--marine-blue);
  margin-bottom: 10px;
  font-size: 25px;
}

.confirmation img {
  width: 55px;
  margin-bottom: 30px;
}

.confirmation p {
  color: var(--cool-gray);
  line-height: 1.5;
  margin-top: 0;
  font-size: 17px;
}

@media (min-width: 994px) {
  .confirmation h1 {
    font-size: 28px;
  }

  .confirmation img {
    width: 65px;
  }

  .confirmation p {
    font-size: 15px;
  }
}
